<div class="panel">
        <div class="panel-body" style="background-color:white;padding:20px;">
                <div class="row">
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>Name</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.name}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>gstNumber</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.gstNumber}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>bankName</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.bankName}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>bankBranch</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.bankBranch}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>paymentTerm</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.paymentTerm}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>postalName</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.postalName}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>postalAddress</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.postalAddress}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>postalSuburb</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.postalSuburb}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>postalCity</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.postalCity}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>postalCountry</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.postalCountry}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group row">
                                        <div class="col-md-4">
                                                <label>postalCode</label>
                                        </div>
                                        <div class="col-md-8">
                                                {{supplier.postalCode}}
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-12">
                                <div class="form-group row">
                                        <div class="col-md-12">
                                                <label>
                                                        note
                                                </label>
                                        </div>

                                        <div class="col-md-12">
                                                {{supplier.note}}
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>