<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua">
            <div class="inner">
                <h3>
                    7123
                </h3>
                <p>
                    Sales
                </p>
            </div>
            <a href="/Sale/Index">
                <div class="icon">
                    <i class="fa fa-money"></i>
                </div>
            </a>
            <a href="/Sale/Index" class="small-box-footer">
                More info <i class="fa fa-arrow-circle-right"></i>
            </a>
        </div>
    </div><!-- ./col -->
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-green">
        <div class="inner">
            <h3>
                56
            </h3>
            <p>
                Purchases
            </p>
        </div>
        <a href="/Purchase/Index">
            <div class="icon">
                <i class="fa fa-truck"></i>
            </div>
        </a>
        <a href="/Purchase/Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div><!-- ./col -->
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-yellow">
        <div class="inner">
            <h3>
                3000
            </h3>
            <p>
                Products
            </p>
        </div>
        <a href="/Product/Index">
            <div class="icon">
                <i class="fa fa-gift"></i>
            </div>
        </a>
        <a href="/Product/Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div><!-- ./col -->
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-light-blue-gradient">
        <div class="inner">
            <h3>
                6000
            </h3>
            <p>
                Customers
            </p>
        </div>
        <a href="/Customer/Index">
            <div class="icon">
                <i class="fa fa-smile-o"></i>
            </div>
        </a>
        <a href="/Customer/Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div><!-- ./col -->
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-red">
        <div class="inner">
            <h3>
                10
            </h3>
            <p>
                Inventory Alert
            </p>
        </div>
        <a href="/Inventory/Index">
            <div class="icon">
                <i class="fa fa-warning"></i>
            </div>
        </a>
        <a href="/Inventory/Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div><!-- ./col -->
<div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-maroon">
        <div class="inner">
            <h3>
                500
            </h3>
            <p>
                Suppliers
            </p>
        </div>
        <a href="/Suppliers/Index">
            <div class="icon">
                <i class="fa fa-group"></i>
            </div>
        </a>
        <a href="/Suppliers/Index" class="small-box-footer">
            More info <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</div><!-- ./col -->
</div>
<div class="row" style="padding:20px;padding-top: 0px;">
    <div class="box-header">
        <h3 class="box-title">Useful tips for your start.</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="callout callout-danger">
            <h4>How can I start it?</h4>
            <p>Hi If you have just started your new business, You do not need to worry about any things and all you need to do is to define your warehouse and add your product information or import them to the system.
                Maybe you have already run your business awhile or you are using a another management system and you plan to change it, 
                So before you start, you would like to suggest you to initalize your inventory data.
            </p>
        </div>
        <div class="callout callout-info">
            <h4>How can I manage it?</h4>
            <p>When you start to use it, you must want this system is security for your business and all workers working on their duties.
                If so, you setup operation rule to your staff.
            </p>
        </div>
        <div class="callout callout-warning">
            <h4>How can I check your sales result and profit?</h4>
            <p>Yes, this is most import things for all users. We offer the report funcitons,which enable you to quickly get them </p>
        </div>
    </div><!-- /.box-body -->
    <div class="box-header">
        <h3 class="box-title">System functions list.</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        
        <div class="callout callout-info">
            <h4>Settings</h4>
            <ol>
                <li>Setting up firm basic information like name, address, contact and so on.</li>
                <li>Defining firm’s warehouses.</li>
                <li>Defining product category.</li>
                <li>Managing system users.</li>
                <li>Checking system error logs.</li>
                <li>
                    Backup system data.
                </li>
            </ol>
            <h4>Product</h4>
            <ol>
                <li>Searching products.</li>
                <li>Downloading the template of import product format.</li>
                <li>Import existing products data.</li>
                <li>Export system products data.</li>
                <li>Product maintenance such as add, edit and delete.</li>
            </ol>
            <h4>Inventory</h4>
            <ol>
                <li>Inventory products list and the track record of product quantity changes.</li>
                <li>Inventory products’ quantity initalization.</li>
                <li>Setting inventory products’ monitor.</li>
                <li>Tranfering products from one warehouse to another one.</li>
                <li>Products quantity adjustment.</li>
            </ol>
            <h4>Supplier</h4>
            <ol>
                <li>Supplier searching function.</li>
                <li>Supplier maintenance like adding supplier, edit and delete.</li>
            </ol>

            <h4>Purchase</h4>
            <ol>
                <li>Purchase searching function.</li>
                <li>Adding purchases.</li>
            </ol>
            <h4>Customer</h4>
            <ol>
                <li>Customer searching function.</li>
                <li>Customer maintenance.</li>
                <li>Customer export and import.</li>
            </ol>
            <h4>Sales</h4>
            <ol>
                <li>Sales searching function.</li>
                <li>Sales maintenance.</li>
            </ol>
            <h4>Report</h4>
            <ol>
                <li>Sales analysis report.</li>
                <li>Sales profit analysis report.</li>
                <li>Sale channel analysis report.</li>
                <li>Purchase analysis report.</li>
            </ol>
        </div>
    </div><!-- /.box-body -->
</div>